# Telegram Bot
BOT_TOKEN=
BOT_WEBHOOK_URL=
BOT_WEBHOOK_SECRET=

# Mini App
VITE_BOT_USERNAME=
VITE_API_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://enzine:enzine@localhost:5432/enzine

# App
NODE_ENV=development
PORT=3000
